
<div class="container">

  <table>
    <tr>
      <th>id</th>
      <th>Name</th>
    </tr>
    <% account = Account.find(id: params[id: "1"])
      <% form_for @account.each do |f| %>
        <tr>
          <td><%= f.label :name %></td>
           <td><%= f.text_field :name %></td>
        </tr>
         <%= f.submit "Save" %>
      <% end %>
  </table>

</div>
